In [2]:
# 리스트 생성  - 다양한 타입을 담을 수 있음

list1 = []
list2 = ['a','b','c']
list3 = ['a','b','c',1,2]
list4 = [1,2,3,4,5.5,6.5]
list5 = [1,2,['Life','is','short']] #자바의 2차원 배열과 같은개념

In [3]:
# 리스트 사용

print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

[]
['a', 'b', 'c']
['a', 'b', 'c', 1, 2]
[1, 2, 3, 4, 5.5, 6.5]
[1, 2, ['Life', 'is', 'short']]

In [8]:
# 리스트 인덱싱

print("list2[2] = ", list2[2])
print("list3[4] = ", list3[4])
print("list5[2] = ", list5[2])
print("list4[-1] = ", list4[-1]) #-1: 뒤에서부터 인덱싱

list2[2] =  c
list3[4] =  2
list5[2] =  ['Life', 'is', 'short']
list4[-1] =  6.5
list5[2][2] =  short

In [9]:
print("list5[2][0] = ", list5[2][0])

list5[2][0] =  Life

In [11]:
print("list5[-1] = ", list5[-1])
print("list5[-1][2] = ", list5[-1][2])

list5[-1] =  ['Life', 'is', 'short']
list5[-1][2] =  short

In [17]:
list6 = [1,2,['a','b',['life','is']]]

# is 출력하기
print("list6 = ", list6[2][2][1])
print("list6 = ", list6[-1][-1][-1])
print("list6 = ", list6[2][-1][-1])

list6 =  is
list6 =  is
list6 =  is

In [19]:
# 연산자 : +(연결), *(반복)

a=[1,2,3]
b=[4,5,6]
c=['a','b','c']

print(a+b)
print(a+c)
print(a[0]+b[1]) # 산술연산

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 'a', 'b', 'c']
6

In [21]:
print(a*3)
print(a[0]*3)# 산술연산

[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [24]:
print(a)
a[1] = 7
print(a)
a[2] = 'life'
print(a)

[1, 7, 3]
[1, 7, 3]
[1, 7, 'life']

In [26]:
str1 = "abcd"
#str1[0] = 'e' #문자열은 인덱싱 변경이 불가

In [28]:
print(b)
b[1:2] = [10,11] #1번에서 2번 범위형태로 리스트 추가
print(b)

[4, 5, 6]
[4, 10, 11, 6]

In [29]:
print(b)
b[1] = [15,16,17] #1번 자리에 범위가 아닌 인덱스 형태로 리스트 추가하
print(b)

[4, 10, 11, 6]
[4, [15, 16, 17], 11, 6]

In [31]:
print(a)
del a[1] #1번 자리 삭제
print(a)

[1, 7, 'life']
[1, 'life']

In [32]:
print(b)
b[1:3] = [] # 1번~2번 삭제 
print(b)

[4, [15, 16, 17], 11, 6]
[4, 6]

In [2]:
numbers = [273,103,5,32,65,9,72,800,99]
for num in numbers:
    print(num)

273
103
5
32
65
9
72
800
99

In [3]:
# numbers 안의 숫자가 홀수인지 짝수인지 판별해서 출력하기

for num in numbers:
    if num % 2 == 0:
        print("{} 는 짝수".format(num))
    else:
        print("{} 는 홀수".format(num))

273 는 홀수
103 는 홀수
5 는 홀수
32 는 짝수
65 는 홀수
9 는 홀수
72 는 짝수
800 는 짝수
99 는 홀수

In [6]:
# numbers 안의 각 숫자들의 자릿수 출력하기

for num in numbers:
    print("{}는 {}자릿수".format(num, len(str(num))))

273는 3자릿수
103는 3자릿수
5는 1자릿수
32는 2자릿수
65는 2자릿수
9는 1자릿수
72는 2자릿수
800는 3자릿수
99는 2자릿수

In [8]:
list_of_list = [[1,2,3],[4,5,6,7],[8,9]]

# 1 2 3 4 5 6 7 8 9 형태로 출력
for list in list_of_list:
    for num in list:
        print(num,end=" ")

1 2 3 4 5 6 7 8 9

### 리스트 관련 함수

In [9]:
# append() : 리스트에 요소추가 뒤로 덧붙이기

list1 = [1,2,3]
list1.append(4)
print(list1)

[1, 2, 3, 4]

In [13]:
list1.append([5,6])
print(list1)

[1, 2, 3, 4, [5, 6], [5, 6], [5, 6], [5, 6]]

In [15]:
#list1.append(5,6,7) #데이터 한개만 허용하므로 리스트형태로 추가해야함

In [18]:
even = []

# 1~100까지 짝수만 even에 추가한후 출력하기
for i in range(2,101):
    if i % 2 == 0:
        even.append(i)
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [19]:
# sort() - 원본 리스트를 정렬

list1 = [25,75,15,9,6,3,36]
print(list1)
list1.sort()
print(list1)

[25, 75, 15, 9, 6, 3, 36]
[3, 6, 9, 15, 25, 36, 75]

In [20]:
list2 = ['k','z','b','a','q','r']
print(list2)
list2.sort()
print(list2)

['k', 'z', 'b', 'a', 'q', 'r']
['a', 'b', 'k', 'q', 'r', 'z']

In [21]:
list3 = ['k','A','b','C','q','r']
print(list3)
list3.sort()
print(list3)

['k', 'A', 'b', 'C', 'q', 'r']
['A', 'C', 'b', 'k', 'q', 'r']

In [22]:
list4 = ['ㄷ','ㄱ','ㅎ','ㅋ','ㄴ']
print(list4)
list4.sort()
print(list4)

['ㄷ', 'ㄱ', 'ㅎ', 'ㅋ', 'ㄴ']
['ㄱ', 'ㄴ', 'ㄷ', 'ㅋ', 'ㅎ']

In [23]:
list5 = ["abc","tail","bcd","animal","korea"]
print(list5)
list5.sort()
print(list5)  #문자열일때 알파벳순으로 정렬

['abc', 'tail', 'bcd', 'animal', 'korea']
['abc', 'animal', 'bcd', 'korea', 'tail']

In [24]:
list3 = ['k','A','b','C','q','r']
print(list3)
list3.sort(reverse=True)
print(list3)

['k', 'A', 'b', 'C', 'q', 'r']
['r', 'q', 'k', 'b', 'C', 'A']

In [27]:
# reverse() : 리스트 뒤집기

list1 = [25,75,15,9,6,3,36]
print(list1)
list1.sort() #오름차순정렬
list1.reverse() #역순 정렬
print(list1)

[25, 75, 15, 9, 6, 3, 36]
[75, 36, 25, 15, 9, 6, 3]

In [28]:
# index() : 위치 반환

list1.index(3) #3의 위치 반환

6

In [ ]:
list1.index(77) # 없는 위치 요청시 에러

In [29]:
# insert() : 특정 위치에 요소 삽입

list2 = [12,13,14,15,14]
list2.insert(1,56) #1번 자리에 56 삽입
print(list2)

[12, 56, 13, 14, 15, 14]

In [30]:
# remove() : 리스트 요소 제거

list5 = [12,13,14,15,14]
list5.remove(13)
print(list5)
list5.remove(14)
print(list5)

[12, 14, 15, 14]
[12, 15, 14]

In [33]:
# pop() : 리스트 요소 중 맨 마지막 요소 꺼내기

list5 = [12,13,14,15,16]
print(list5)
list5.pop()
print(list5)

[12, 13, 14, 15, 16]
[12, 13, 14, 15]

In [34]:
list5.pop(1) #1번 자리 13 꺼내기
print(list5)

[12, 14, 15]

In [35]:
# count() : 리스트 요소 세기

list5 = [1,2,3,4,5,6]
print(list5.count(3))

1

In [36]:
# extend : 리스트 확장 (+ 와 같은결과)

list5.extend([16,17,18])
print(list5)

[1, 2, 3, 4, 5, 6, 16, 17, 18]

In [38]:
# clear() : 리스트 요소 모두 삭제
list5.clear()
print(list5)

[]

In [39]:
city = ""
if city:
    print("True")
else:
    print("False")

False

In [40]:
list1 = []
if list1:
    print("True")
else:
    print("False")

False

In [41]:
fruit = ["사과","딸기","배","수박"]
if "딸기" in fruit:
    print("딸기 포함")
else:
    print("딸기 미 포함")

딸기 포함