In [2]:
# 리스트 생성 

list1 = []
list2 = ['a','b','c']
list3 = ['a','b','c',1,2]
list4 = [1,2,3,4,5.5,6.5]
list5 = [1,2,['Life','is','short']] #자바의 2차원 배열과 같은개념

In [3]:
# 리스트 사용

print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

[]
['a', 'b', 'c']
['a', 'b', 'c', 1, 2]
[1, 2, 3, 4, 5.5, 6.5]
[1, 2, ['Life', 'is', 'short']]

In [8]:
# 리스트 인덱싱

print("list2[2] = ", list2[2])
print("list3[4] = ", list3[4])
print("list5[2] = ", list5[2])
print("list4[-1] = ", list4[-1]) #-1: 뒤에서부터 인덱싱

list2[2] =  c
list3[4] =  2
list5[2] =  ['Life', 'is', 'short']
list4[-1] =  6.5
list5[2][2] =  short

In [9]:
print("list5[2][0] = ", list5[2][0])

list5[2][0] =  Life

In [11]:
print("list5[-1] = ", list5[-1])
print("list5[-1][2] = ", list5[-1][2])

list5[-1] =  ['Life', 'is', 'short']
list5[-1][2] =  short

In [17]:
list6 = [1,2,['a','b',['life','is']]]

# is 출력하기
print("list6 = ", list6[2][2][1])
print("list6 = ", list6[-1][-1][-1])
print("list6 = ", list6[2][-1][-1])

list6 =  is
list6 =  is
list6 =  is

In [19]:
# 연산자 : +(연결), *(반복)

a=[1,2,3]
b=[4,5,6]
c=['a','b','c']

print(a+b)
print(a+c)
print(a[0]+b[1]) # 산술연산

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 'a', 'b', 'c']
6

In [21]:
print(a*3)
print(a[0]*3)# 산술연산

[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [24]:
print(a)
a[1] = 7
print(a)
a[2] = 'life'
print(a)

[1, 7, 3]
[1, 7, 3]
[1, 7, 'life']

In [26]:
str1 = "abcd"
#str1[0] = 'e' #문자열은 인덱싱 변경이 불가

In [28]:
print(b)
b[1:2] = [10,11] #1번에서 2번 범위형태로 리스트 추가
print(b)

[4, 5, 6]
[4, 10, 11, 6]

In [29]:
print(b)
b[1] = [15,16,17] #1번 자리에 범위가 아닌 인덱스 형태로 리스트 추가하
print(b)

[4, 10, 11, 6]
[4, [15, 16, 17], 11, 6]

In [31]:
print(a)
del a[1] #1번 자리 삭제
print(a)

[1, 7, 'life']
[1, 'life']

In [32]:
print(b)
b[1:3] = [] # 1번~2번 삭제 
print(b)

[4, [15, 16, 17], 11, 6]
[4, 6]