In [1]:
str1 = "Life is too short, You need Python"
str2 = 'Life is too short, You need Python'
str3 = """Life is too short, You need Python"""
str4 = '''Life is too short, You need Python'''
str5 = "123"

num1 = 10
num2 = 10.1

In [2]:
print(str1)
print(str2)
print(str3)
print(str4)
print(str5)

Life is too short, You need Python
Life is too short, You need Python
Life is too short, You need Python
Life is too short, You need Python
123

In [3]:
print(num1+num2)

20.1

In [5]:
a = b = 3
print(a)
print(b)

3
3

In [6]:
a, b = 10,15
print(a)
print(b)

10
15

In [9]:
a, b = b,a #변수 변경 대입 가능
print("a=",a)
print("b=",b)

a= 15
b= 10

In [10]:
str1 = 500
num1 = "Hello"
print(str1,"",num1)

500  Hello

In [12]:
# 정수형

a = 123
b = -173
print(a)
print(b)

123
-173

In [11]:
# 실수형

a = 1,2
b = -3.45
c = 4.24E10
d = 4.24e-10
print(a)
print(b)
print(c)
print(d)

(1, 2)
-3.45
42400000000.0
4.24e-10

In [14]:
# 8진수(0o), 16진수(0x) 

print(0o177) #8진수 177 = 1*8의 2승 + 7*8의 1승 + 7*8의 0승
print(0x1511) #16진수 1511 = 1*16의 3승 + 5*16의 2승 + 1*16의 1승 + 1*16의 0승

127
5393

In [15]:
#연산자
a,b = 3,4

print("a+b=",a+b)
print("a-b=",a-b)
print("a*b=",a+b)
print("a/b=",a/b)   # 나누기 : 소수점 결과까지 포함
print("a//b=",a//b) # 소수점 결과는 버림
print("a%b=",a%b)
print("a**b=",a**b) # 제곱

a+b= 7
a-b= -1
a*b= 7
a/b= 0.75
a//b= 0
a%b= 3
a**b= 81

In [16]:
b = True
print(b)
print(type(b))

True
<class 'bool'>

### 변수 형 변환
- str() : 문자 타입으로 변환
- int() : 정수 타입으로 변환
- float() : 실수 타입으로 변환
- bool() : 불린 타입으로 변환

In [17]:
print(type(3))
print(type(str(3)))

<class 'int'>
<class 'str'>

In [20]:
print(type(str(3.5)))
print(str(1.0e4))

<class 'str'>
10000.0

In [21]:
print(int(True))
print(int(False))

1
0

In [25]:
print(int(98.6)) #실수를 정수로 변환
print(int('99')) #문자를 정수로 변환
#print(int('98.6')) #문자열 실수는 정수로 변환 불가  error발생

98
99

In [26]:
print(float(True)) #실수형으로 변환
print(float(False))
print(float(98.6))
print(float('99.6'))
print(float('1.0e4'))

1.0
0.0
98.6
99.6
10000.0

In [28]:
print(type(bool(99)), bool(99))
print(type(bool(0.1)), bool(0.1))

<class 'bool'> True
<class 'bool'> True

In [30]:
#print("100"+1) #문자열 + 숫자 = error 
print(int("100")+1)

101

In [31]:
print("100"+str(1)) #문자+문자 +:연결의 의미

1001

In [33]:
# 대입연산자

a = 10
a += 5
print(a)

a -= 5
print(a)

a *= 5
print(a)

a /= 5
print(a)

a //= 5
print(a)

a %= 5
print(a)

a **= 5
print(a)

15
10
50
10.0
2.0
2.0
32.0

In [37]:
# 777,777 원 교환하기 : 5만원, 1만원, 5천원, 1천원

money, c50000, c10000, c5000, c1000 = 777777,0,0,0,0

# 5만원
c50000 = money // 50000
money %= 50000

#1만원
c10000 = money // 10000
money %= 10000

#5천원
c5000 = money // 5000
money %= 5000

#1천원
c1000 = money // 1000
money %= 1000

print("지폐 교환")
print("50,000원 : %d 장" % c50000)
print("10,000원 : %d 장" % c10000)
print("5,000원 : %d 장" % c5000)
print("1,000원 : %d 장" % c1000)
print("나머지 돈 : %d" % money)

지폐 교환
50,000원 : 15 장
10,000원 : 2 장
5,000원 : 1 장
1,000원 : 2 장
나머지 돈 : 777