In [2]:
# 함수정의
def hello():
    print("hello!!!")

# 호출
hello()

hello!!!

In [4]:
# 함수정의
def hello():
    return "hello!!!"

# 호출
say = hello()
print(say,"Hong")

hello!!! Hong

In [5]:
#함수정의
def add(a,b):
    return a+b

#호출
add(7,15)

22

In [6]:
# n=2 : 기본 파라메터(만일 값이 넘어오지 않을 때 기본값으로 처리)

def print_n_times(value, n=2):
    for i in range(n):
        print(value)

print_n_times("안녕하세요") # 2번째 값이 안넝어 가면 n인 기본 값으로 처리

안녕하세요
안녕하세요

In [7]:
print_n_times("안녕하세요",5) #2번째 값이 넘어가면 넘어간 값으로 처리

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [10]:
# *args :가변 파라메터- 개수가 매번 바뀐다 => 튜플로 반환
# (*args, num) : 가변 파라메터 뒤에 일반 파라메터가 올 수 없다.
# 가변 파라메터는 하나만 사용 가능

def add_many(*args):
    print(args)
    
add_many({"desert":"macaroon","wine":"merlot"})
add_many("35","24","15","14")
add_many(["A","B","C","D"])
add_many("E","F","G")

({'desert': 'macaroon', 'wine': 'merlot'},)
('35', '24', '15', '14')
(['A', 'B', 'C', 'D'],)
('E', 'F', 'G')

In [11]:
def add_many2(*args):
    result = 0
    for i in args:
        result += i
    return result

print(add_many2(15,63,869,45,36,9,3))
print(add_many2(27,35,56))
print(add_many2())

1040
118
0

In [13]:
def sum_mul(choice, *args): #r가변 파라메터 앞에는 일반 변수 사용가능
    if choice == "mul":
        result = 1
        for i in args:
            result *= i
    elif choice == "add":
        result = 0
        for i in args:
            result += i
    return result

print("덧셈 : ", sum_mul("add",1,2,3,4,5))
print("곱셈 : ", sum_mul("mul",1,2,3,4,5))

덧셈 :  15
곱셈 :  120

In [14]:
# **kwargs : 가변 파라메터를 딕셔너리 형태로 처리

def args_func1(**kwargs):
    print(kwargs)
    
    for k in kwargs.keys():
        print(k)
        
    for k,v in kwargs.items():
        print(k,v)
    print()
    
args_func1(name="park")
args_func1(name="park", name2="kim", active="test")
args_func1(name="kim", age=10, title="title")
args_func1(name="hong", name2="tark")

{'name': 'park'}
name
name park

{'name': 'park', 'name2': 'kim', 'active': 'test'}
name
name2
active
name park
name2 kim
active test

{'name': 'kim', 'age': 10, 'title': 'title'}
name
age
title
name kim
age 10
title title

{'name': 'hong', 'name2': 'tark'}
name
name2
name hong
name2 tark

In [17]:
def example_mul(arg1, arg2, arg3=15, *args, **kwargs):
    print(arg1, arg2, arg3, args, kwargs)
    
example_mul(10,20,30)
example_mul(10,20)
example_mul(20,30,"kim","choi")
example_mul(20,30,"kim","choi",age=25, name="park")

10 20 30 () {}
10 20 15 () {}
20 30 kim ('choi',) {}
20 30 kim ('choi',) {'age': 25, 'name': 'park'}

In [18]:
# 다중리턴 => 반환타입 () 튜플

def sum_and_mul(a,b):
    return a+b, a*b

print(sum_and_mul(3,4))

(7, 12)

In [19]:
def func_mul(x):
    y1 = x *100
    y2 = x *200
    y3 = x *300
    return y1, y2 , y3

tup1 = func_mul(100)
print(tup1)

(10000, 20000, 30000)

In [20]:
add_result, mul_result = sum_and_mul(4,5)
print(add_result, mul_result)

9 20

In [21]:
val1, val2, val3 = func_mul(100)
print(val1, val2, val3)

10000 20000 30000

In [23]:
def func_mul2(x): #리스트형태의 리턴
    y1 = x *100
    y2 = x *200
    y3 = x *300
    return [y1, y2 , y3]

print(func_mul2(100))

[10000, 20000, 30000]

In [24]:
#일반 리턴 = 아무데이터 없이 돌아감

def say_nick(nick):
    if nick == "바보":
        return
    print("나의 별명은 {} 입니다.".format(nick))

say_nick("바보")
say_nick("야호")

나의 별명은 야호 입니다.

In [27]:
# 두 개의 인자와 연산자를 받아 사칙연산을 수행하는 fourRules 함수를 작성하시오

def fourRules(num1,num2,op):
    if op == "+":
        return num1+num2
    elif op == "-":
        return num1-num2
    elif op == "*":
        return num1*num2
    else:
        return num1//num2
    
a, b = 6,3
print("{} {} {} = {}".format(a,"+",b,fourRules(a,b,"+")))
print("{} {} {} = {}".format(a,"-",b,fourRules(a,b,"-")))
print("{} {} {} = {}".format(a,"*",b,fourRules(a,b,"*")))
print("{} {} {} = {}".format(a,"//",b,fourRules(a,b,"//")))

6 + 3 = 9
6 - 3 = 3
6 * 3 = 18
6 // 3 = 2

In [2]:
# 위에서 작성한 함수를 호출 할 때 사용자로부터 인자와 연산자를 받아 처리하기

def fourRules(num1,num2,op):
    if op == "+":
        return num1+num2
    elif op == "-":
        return num1-num2
    elif op == "*":
        return num1*num2
    else:
        return num1//num2
    
num1 = int(input("input Num1 : "))
num2 = int(input("input Num2 : "))
op = input("연산자 입력 : ")
print("{} {} {} = {}".format(num1,op,num2,fourRules(num1,num2,op)))

input Num1 : 5
input Num2 : 4
연산자 입력 : *
5 * 4 = 20

In [6]:
#1~100 사이의 소수(1과 자신으로만 나누어지는 수)를 구하여 리턴하는 함수를 작성하시오

prime_list=[]

def isPrime(x):
    cnt = 0
    for i in range(1, x+1):
        if x % i == 0:
            cnt += 1
            
    if cnt == 2:
         prime_list.append(x)
        
    return prime_list


for j in range(1,101):
     isPrime(j)
    
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]