In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({"x": ['A', 'B', 'C'], "x2": [1, 2 , 3]})
df1

   x  x2
0  A   1
1  B   2
2  C   3

In [3]:
df2 = pd.DataFrame({"x": ['A', 'B', 'D'], "x2": ['T', 'F', 'T']})
df2

   x x2
0  A  T
1  B  F
2  D  T

In [4]:
pd.merge?

In [6]:
# how: left => 첫번째 데이터 프레임 기준

pd.merge(df1,df2, how='left', on='x')

   x  x2_x x2_y
0  A     1    T
1  B     2    F
2  C     3  NaN

In [7]:
pd.merge(df1,df2, how='right', on='x')

   x  x2_x x2_y
0  A   1.0    T
1  B   2.0    F
2  D   NaN    T

In [8]:
#how: inner(둘다 해당되는 값으로만 조인)

pd.merge(df1,df2, how='inner', on='x')

   x  x2_x x2_y
0  A     1    T
1  B     2    F

In [9]:
# how:outer (두 프레임에 있는 모든 값)

pd.merge(df1,df2, how='outer', on='x')

   x  x2_x x2_y
0  A   1.0    T
1  B   2.0    F
2  C   3.0  NaN
3  D   NaN    T

In [10]:
df1.merge(df2, how='left', on='x')

   x  x2_x x2_y
0  A     1    T
1  B     2    F
2  C     3  NaN